<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <div id="content">
        <div align="right">
            <h1>Please Log In</h1>
            <br>
            <form action="" method="post">
                Name:
                <input type=text name=username>
                <p><input type=submit value=login>
            </form>
        </div>
    </div>
</body>
</html>